$primary : #045DA5;
$primary-light: #E5EEF6;
$primary-dark: #024881;

$secondary : #E2007A;
$secondary-light: #FCE5F1;

$accent : #FFED00;
$accent-light: #FFFBCC;

$dark : #1D1D1D;
$dark-page : #121212;

$positive : #00A63E;
$negative : #E7000B;
$info : #F2C037;
$warning : #E17100;

$typography-font-family: 'Poppins', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
